@import url(basic.css);

.container {
    display: flex;
}

.item {
    flex-grow: 0; /* 기본값 */
    flex-grow: 1;
}

.item:nth-child(1) {
    flex-grow: 1;
}
.item:nth-child(2) {
    flex-grow: 2;
}
.item:nth-child(3) {
flex-grow: 1;
}